<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome from Slambook</title>
</head>

<body bgcolor="black">
<div>
    <div style="text-align:center; mid-width:375px; min-height:50px; padding-left:20px; padding-right:20px; max-width:600px; margin:auto; padding-top:10px">
        <img src="https://slambook.app/icons/slambook-logo.png" alt="CompanyLogo" style="max-width:150px; border:5px; border-color:white; margin:20px;">
    </div>
    <div align="center" style="background-color:#FFFFFF; padding-left:20px; padding-right:20px; max-width:550px; margin:auto; border-radius:5px; padding-bottom:5px; text-align:left; margin-bottom:40px; width:80%">
        <h2 style="padding-top:25px; min-width:600; align:center; font-family:Roboto">
            Hi, {{firstName}}!
        </h2>
        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:0px; wrap:hard; line-height:25px">
            Thanks for creating an account with Slambook! We're so happy to have you on board.
        </p>
        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:0px; wrap:hard">
            know more about us here: <a href="https://medium.com/@saurabhkrverma/all-about-slambook-473530b1bb6f">all about slambook</a>
        </p>

        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:0px; wrap:hard">
            Thank you,
        </p>

        <p style="max-width:500px; align:center; font-family:Roboto; padding-bottom:20px; wrap:hard">
            The Slambook Team
        </p style="color:black">
        <hr>
        </hr>
        <p style="max-width:100%; align:center; font-family:Roboto; padding-bottom:10px; wrap:hard; padding-top: 0px; font-size:10px">
            You’re receiving this email because you recently created a new Slambook account. If this wasn’t you, please ignore this email.
        </p>
    </div>
</div>
</body>

</html>
