
.collections-cards {
  margin: 0 2px;
  justify-content: center;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.collections-cards .collections-card {
  padding: 0;
  margin: 12px
}

.collections-card .collections-card-body-loading{
  padding: 150px 0;
  display: flex;
  justify-content: center;
}


.card-header {
  background-color: #EAB571;
}

.card-header .card-header-content {
  display: flex;
  justify-content: space-between;
}

.collections-card .card-action-button {
  text-align: center;
}

.card-collection-footer {
  div {
    text-align: center;
  }
  background-color: #EAB571;
}
