
.collections-cards {
  justify-content: center;
}

.collections-cards .collections-card {
  padding: 0;
  margin: 12px
}

.card-header .card-header-content {
  display: flex;
  justify-content: space-between;
}

.collections-card .card-action-button {
  text-align: center;
}
