
.collections-cards {
  margin: 0 2px;
  justify-content: center;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.collections-cards .collections-card {
  padding: 0;
  margin: 12px;
  box-shadow: rgba(105, 105, 105, 0.5) 1.95px 1.95px 2.6px;
}

.collections-card .collections-card-body-loading{
  padding: 150px 0;
  display: flex;
  justify-content: center;
}

.card-header {
  box-shadow: rgba(248, 248, 255, 0.5) 0px 1px 2px 0px, rgba(248, 248, 255, 0.5) 0px 1px 3px 1px;
}

.card-header .card-header-content {
  display: flex;
  justify-content: space-between;
}

.collections-card .card-action-button {
  text-align: center;
}

.card-collection-footer {
  div {
    text-align: center;
    color: #f8f8ff;
  }
}

.card-collection-footer-post {
  div {
    text-align: center;
    color: #6c757d;
  }
}

.slambook-questionnaire-static {
  border: none;
  background-color: transparent !important;
  color: white;
}

.dropdown-toggle.btn.btn-primary {
  background-color: #f8f8ff;
  color: black;
  border-color: black
}

.dropdown-menu.show {
  background-color: aliceblue;
}

.dropdown-item:hover {
  background-color: black;
  color: aliceblue;
}
