@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./header.scss";
@import "./collections.scss";
@import "./posts.scss";
@import "./login.scss";

body {
  font-family:Montserrat,sans-serif;
  font-size: 14px;
  background-color: white;
}

.text-align-center {
  text-align: center;
}
