@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./header.scss";
@import "./collections.scss";
@import "./collectionsWidget.scss";
@import "./posts.scss";
@import "./login.scss";
@import "./home.scss";
@import "./notifications.scss";
@import "./alert.scss";
@import "./loader.scss";
@import "./welcome.scss";

body {
  font-family:Montserrat,sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-image: radial-gradient( rgba(255, 225, 225, 0), rgba(173,216,230, 0.7));
  //#0f333e 0%, #6cb0c4 50%, #1287a8
  //rgba(14,23,0)
  height: 100vh;
}

.page-body {
  padding-top: 129px;
}

.text-align-center {
  text-align: center;
}

.form-label {
  overflow-wrap: anywhere
}
