.loader {

  .modal-dialog {
    display: grid !important;
    place-content: center;
  }

  .modal-content {
    background-image: radial-gradient( rgba(255, 220, 178, 0.7), rgba(145, 64, 0, 0.7));
    width: auto !important;
  }
}
